* {
  font-family: "Bebas Neue", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
}
body {
  overflow-x: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img{
  height: auto;
  aspect-ratio: 2 / 3;

}
